<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row pb-5">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <h4>
          <span style="font-family: 'Fjalla One', sans-serif; ">Compute Settings</span>
          <button class="ml-2 btn btn-outline-dark float-right" (click)="open(computeForm)">
            <span class="fa fa-plus"></span> <span>Change Compute Settings</span>
          </button>
        </h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped">
          <thead>
          <h5>Active Compute Settings</h5>
          </thead>
          <tbody>
          <tr>
            <td>Compute Method</td>
            <td *ngIf="currentNode.computeMethod.toString().valueOf() != 'CPU_GPU'.valueOf() ">
              {{currentNode.computeMethod}}
            </td>
            <td *ngIf="currentNode.computeMethod.toString().valueOf() == 'CPU_GPU'.valueOf() ">CPU & GPU</td>
          </tr>
          <tr *ngIf="currentNode.computeMethod.toString().valueOf() != 'GPU'.valueOf() ">
            <td>Rendering Cores</td>
            <td>{{currentNode.cores}}</td>
          </tr>
          <tr *ngIf="currentNode.computeMethod.toString().valueOf() != 'GPU'.valueOf() ">
            <td>Tile Size: CPU</td>
            <td>{{currentNode.tileSizeCPU}}</td>
          </tr>
          <tr *ngIf="currentNode.computeMethod.toString().valueOf() != 'CPU'.valueOf() ">
            <td>Selected GPU(s)</td>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let gpu of currentNode.selectedGPUs"> {{gpu.model}}</li>
              </ul>
            </td>
          </tr>
          <tr *ngIf="currentNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
            <td>Tile Size: GPU</td>
            <td>{{currentNode.tileSizeGPU}}</td>
          </tr>
          <tr *ngIf="currentNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
            <td>Combined GPU Rendering:</td>
            <td>{{gpuCombined}}</td>
          </tr>
          </tbody>
        </table>
        <!--<div>-->
        <!--Debugging:-->
        <!--<pre>{{ newNode | json }}</pre>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<ng-template #computeForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Change Compute Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #updateComputeForm="ngForm" class="editForm">
      <div class="form-group" ngbTooltip="Render with either a CPU/GPU or ability to use either one."
           placement="left">
        <label for="computeMethod">Compute Method Selection</label>
        <select class="form-control form-control-sm"
                id="computeMethod"
                name="computeMethod"
                value="{{currentNode.getComputeMethod()}}"
                #computeMethod="ngModel"
                (change)="methodSelection()"
                [(ngModel)]="newNode.computeMethod">
          <option *ngFor="let method of availableComputeMethods">{{method}}</option>
        </select>
      </div>
      <div *ngIf="newNode.computeMethod.toString().valueOf() != 'GPU'.valueOf() ">
        <hr/>
        <h6>CPU Settings:</h6>
        <div class="form-group" *ngIf="newNode.computeMethod.toString().valueOf() != 'GPU'.valueOf() "
             ngbTooltip="Number of CPU cores to be used for rendering." placement="left">
          <label for="cores">Rendering Cores:</label> {{newNode.cores}}
          <div class="form-inline">
          <mat-slider
            id="cores"
            min="1"
            step="1"
            thumb-label="true"
            [max]="totalCores"
            #cores="ngModel"
            value="{{currentNode.getCores()}}"
            name="cores"
            [(ngModel)]="newNode.cores"></mat-slider>
          </div>
        </div>
        <div class="form-group" *ngIf="newNode.computeMethod.toString().valueOf() != 'GPU'.valueOf() "
             ngbTooltip="Tile size used for CPU rendering." placement="left">
          <label for="tileSizeCPU">CPU Render Tile Size:</label>
          <input type="number"
                 class="form-control form-control-sm"
                 name="tileSizeCPU"
                 id="tileSizeCPU"
                 value="{{currentNode.getTileSizeCPU()}}"
                 #tileSizeCPU="ngModel"
                 [(ngModel)]="newNode.tileSizeCPU">
        </div>
      </div>
      <div *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf() ">
        <hr/>
        <h6>GPU Settings:</h6>
        <div class="form-group" *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
          <div *ngFor="let gpu of availableGPUs" ngbTooltip="GPU devices to be used for rendering." placement="left">
            <input type="checkbox"
                   class="form-control-sm"
                   name="{{gpu.model}}"
                   value="{{gpu.model}}"
                   #gpuSelection
                   required
                   [checked]="gpu.selected"
                   (change)="selected($event, gpu.deviceID)"/>
            <label class="form-check-label form-control-sm">{{gpu.model}}</label>
          </div>
        </div>
        <div class="form-group" *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()"
             ngbTooltip="Tile size used for GPU rendering." placement="left">
          <label for="tileSizeGPU">GPU Tile Size</label>
          <input type="number"
                 class="form-control form-control-sm"
                 name="tileSizeGPU"
                 id="tileSizeGPU"
                 value="{{currentNode.getTileSizeGPU()}}"
                 #tileSizeCPU="ngModel"
                 [(ngModel)]="newNode.tileSizeGPU">
        </div>
        <label *ngIf="newNode.selectedGPUs?.length > 1">Options:</label>
        <div *ngIf="newNode.selectedGPUs?.length > 1"
             ngbTooltip="Enabled: Selected GPUs used as one render slot.  Disabled: Each GPU equals one render slot."
             placement="left">
          <input type="checkbox"
                 class="form-control-sm"
                 name="{{newNode.combined}}"
                 value="{{newNode.combined}}"
                 [(ngModel)]="newNode.combined"/>
          <label class="form-check-label form-control-sm">Combine GPUs</label>
          <br/><br/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary mr-auto" (click)="cancel()">Cancel</button>
    <button
      [disabled]="newNode.gpuEmpty || newNode.computeMethod.toString() == 'CPU'.valueOf() && newNode.cores == 0 || newNode.computeMethod.toString() == 'CPU_GPU'.valueOf() && newNode.cores == 0"
      class="btn btn-outline-dark ml-auto" (click)="c('Close click'); open(verifyContent)">Confirm Changes
    </button>

  </div>
</ng-template>
<ng-template #verifyContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Pending Changes</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tbody>
      <tr>
        <td>Compute Method</td>
        <td *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU_GPU'.valueOf()">{{newNode.computeMethod}}</td>
        <td *ngIf="newNode.computeMethod.toString().valueOf() == 'CPU_GPU'.valueOf()">CPU & GPU</td>
      </tr>
      <tr *ngIf="newNode.computeMethod.toString().valueOf() != 'GPU'.valueOf()">
        <td>Rendering Cores</td>
        <td>{{newNode.cores}}</td>
      </tr>
      <tr *ngIf="newNode.computeMethod.toString().valueOf() != 'GPU'.valueOf()">
        <td>Tile Size: CPU</td>
        <td>{{newNode.tileSizeCPU}}</td>
      </tr>
      <tr *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
        <td>Selected GPU(s)</td>
        <td>
          <ul class="list-unstyled">
            <li *ngFor="let gpu of newNode.selectedGPUs"> {{gpu.model}}</li>
          </ul>
        </td>
      </tr>
      <tr *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
        <td>Tile Size: GPU</td>
        <td>{{newNode.tileSizeGPU}}</td>
      </tr>
      <tr *ngIf="newNode.computeMethod.toString().valueOf() != 'CPU'.valueOf()">
        <td>Combined GPU Rendering:</td>
        <td>{{newNode.combined}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-auto"
            (click)="c('Close click'); setCurrentNode(); open(computeForm)">Back
    </button>
    <button type="button" class="btn btn-outline-dark ml-auto"
            (click)="c('Close click'); updateAndRestart(restartModal)">Update and Restart
    </button>
  </div>
</ng-template>
<ng-template #restartModal>
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Changes Complete</h4>
  </div>
  <div class="modal-body">
    <p class="text-center"> Sethans is restarting.</p>
    <p class="text-center">This page will automatically redirect in 30 seconds &nbsp; &nbsp;<span
      class="fa fa-circle-o-notch fa-spin"></span></p>
  </div>
</ng-template>
