<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row pb-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 style="font-family: 'Fjalla One', sans-serif; ">Project Details - {{projectDetails.projectName}}</h4>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <tbody>
          <tr>
            <td>Project Status</td>
            <td *ngIf="projectStatus?.valueOf().toString() != 'Finished'.valueOf()">{{projectStatus}}</td>
            <td *ngIf="projectStatus?.valueOf().toString() == 'Finished'.valueOf()"><a
              [href]="'/api/project_actions/download_project/' + projectDetails.id">{{projectStatus}}</a></td>
          </tr>
          <tr>
            <td>Selected Blender Version</td>
            <td>{{projectDetails.selectedBlenderversion}}</td>
          </tr>
          <tr>
            <td>Output Format</td>
            <td>{{projectDetails.outputFormat}}</td>
          </tr>
          <tr *ngIf="projectDetails?.projectType?.toString().valueOf() == 'STILL_IMAGE'.valueOf()">
            <td>Project Type</td>
            <td>Still Image</td>
          </tr>
          <tr *ngIf="projectDetails?.projectType?.toString().valueOf() == 'ANIMATION'.valueOf()">
            <td>Project Type</td>
            <td>Animation</td>
          </tr>
          <tr>
            <td>Start Frame</td>
            <td>{{projectDetails.startFrame}}</td>
          </tr>
          <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf()">
            <td>End Frame</td>
            <td>{{projectDetails.endFrame}}</td>
          </tr>
          <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf()">
            <td>Frame Step</td>
            <td>{{projectDetails.stepFrame}}</td>
          </tr>
          <tr *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'">
            <td>Render On</td>
            <td>{{projectDetails.renderOn}}</td>
          </tr>
          <tr>
            <td>Rendering Engine</td>
            <td>{{projectDetails.blenderEngine}}</td>
          </tr>
          <tr *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'">
            <td>Samples</td>
            <td>{{projectDetails.samples}}</td>
          </tr>
          <tr>
            <td>Render Resolution</td>
            <td>{{projectDetails.resolutionX}} &times; {{projectDetails.resolutionY}}</td>
          </tr>
          <tr>
            <td>Image Scaling Percentage</td>
            <td>{{projectDetails.resPercentage}}&#37;</td>
          </tr>
          <tr *ngIf="projectDetails.useParts == true">
            <td>Parts Per Frame</td>
            <td>{{projectDetails.partsPerFrame}}</td>
          </tr>
          <tr>
            <td>Current Percentage</td>
            <td class="pt-2 pb-2">
              <ngb-progressbar showValue="true" type="success"
                               [value]="currentProgress"></ngb-progressbar>
            </td>
          </tr>
          <tr *ngIf="projectStatus.valueOf().toString() != 'Finished' && projectStatus.valueOf().toString() != 'Added'">
            <td>Queue Progress</td>
            <td>{{remainingQueue}} of {{totalQueue}} Remaining</td>
          </tr>
          <tr>
            <td>Project Duration</td>
            <td>{{projectTime}}</td>
          </tr>
          <tr>
            <td>Total Render Time</td>
            <td>{{totalRenderTime}}</td>
          </tr>

          <tr>
            <td>Preview</td>
            <td *ngIf="thumbnailStatus == false || thumbnailStatus == undefined"><img [src]="placeholder"
                                                                                      height="100"
                                                                                      class="d-inline-block align-top"
                                                                                      alt="placeholder">
            </td>
            <td *ngIf="thumbnailStatus == true">
              <img [src]="currentThumbnail"
                   height="100"
                   class="d-inline-block align-top"
                   alt="thumbnail">
            </td>
          </tr>
          </tbody>
        </table>
        <button [disabled]="!nodesReady" id="startButton" *ngIf="projectStatus.valueOf().toString() == 'Added'"
                class="btn btn-outline-primary mr-auto float-left" (click)="startProject(projectDetails.id)">Start
          Project
        </button>
        <button id="pauseButton"
                *ngIf="projectStatus.valueOf().toString() != 'Finished' && projectStatus.valueOf().toString() != 'Added' && projectStatus.valueOf().toString() != 'Paused'"
                class="btn btn-outline-info mr-auto float-left" (click)="pauseProject(projectDetails.id)">Pause Project
        </button>
        <button id="resumeButton" *ngIf="projectStatus.valueOf().toString() == 'Paused'"
                class="btn btn-outline-success mr-auto float-left" (click)="resumeProject(projectDetails.id)">Resume
          Project
        </button>
        <button class="btn btn-outline-dark ml-auto float-right" (click)="returnToProjects()">Project List View
        </button>

      </div>
    </div>
  </div>
</div>
