<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->
<div class="row pb-5">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h4>
          <span style="font-family: 'Fjalla One', sans-serif; ">Nodes</span>
          <button class="ml-2 btn btn-outline-dark float-right" (click)="addNode()">
            <span class="fa fa-plus"></span> <span>Add Node</span>
          </button>
          <button class="btn btn-outline-dark float-right" (click)="scanNode()">
            <span class="fa fa-search"></span> <span>Scan</span>
          </button>
        </h4>
      </div>
      <div class="card-body">
        <mat-form-field>
          <input matInput id="table-search" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <mat-table #nodeTable [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="nodeStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Node Status</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.pendingActivation == true">Pending Activation</span>
              <span *ngIf="node.pendingActivation == false && node.benchmarkComplete == false">Pending Benchmark</span>
              <span
                *ngIf="node.pendingActivation == false && node.benchmarkComplete == true && node.active == true && node.disabled == false">
                Active
              </span>
              <span *ngIf="node.pendingActivation == false && node.benchmarkComplete == true && node.active == false">
                Inactive
              </span>
              <span *ngIf="node.pendingActivation == false && node.benchmarkComplete == true && node.disabled == true">
                Disabled
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="hostname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Hostname</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.hostname}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ipAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.ipAddress}}
            </mat-cell>

          </ng-container>

          <ng-container matColumnDef="port">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.networkPort}}
            </mat-cell>

          </ng-container>

          <ng-container matColumnDef="os">
            <mat-header-cell *matHeaderCellDef mat-sort-header>OS</mat-header-cell>
            <mat-cell *matCellDef="let node">{{node.sethlansNodeOS}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="computeMethods">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Compute Methods</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.computeType.toString().valueOf() == 'CPU_GPU'.valueOf()">CPU & GPU</span>
              <span *ngIf="node.computeType.toString().valueOf() != 'CPU_GPU'.valueOf()">{{node.computeType}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cpuName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CPU</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.computeType.toString().valueOf() != 'GPU'.valueOf()">{{node.cpuinfo.name}}</span>
              <span *ngIf="node.computeType.toString().valueOf() == 'GPU'.valueOf()">N/A</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="selectedCores">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Selected Core(s)</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.computeType.toString().valueOf() != 'GPU'.valueOf()">{{node.selectedCores}}</span>
              <span *ngIf="node.computeType.toString().valueOf() == 'GPU'.valueOf()">N/A</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="selectedGPUs">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Selected GPU(s)</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.computeType.toString().valueOf() != 'CPU'.valueOf()">
                <ul class="list-unstyled">
                  <li *ngFor="let gpu of node.selectedGPUs"> {{gpu.model}}</li>
                </ul>
              </span>
              <span *ngIf="node.computeType.toString().valueOf() == 'CPU'.valueOf()">N/A</span>
            </mat-cell>

          </ng-container>

          <ng-container matColumnDef="benchmark">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Benchmark</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <span *ngIf="node.benchmarkComplete == false">N/A</span>
              <span *ngIf="node.benchmarkComplete == true && node.computeType.toString().valueOf() == 'CPU'.valueOf()">
              CPU:
              {{node.cpuRating}}
            </span>
              <span *ngIf="node.benchmarkComplete == true && node.computeType.toString().valueOf() == 'GPU'.valueOf()">
              <ul class="list-unstyled">
                <li *ngFor="let gpu of node.selectedGPUs">{{gpu.deviceID}}: {{gpu.rating}}</li>
              </ul>
            </span>
              <span
                *ngIf="node.benchmarkComplete == true && node.computeType.toString().valueOf() == 'CPU_GPU'.valueOf()">
              <ul class="list-unstyled">
                <li>CPU: {{node.cpuRating}}</li>
                <li *ngFor="let gpu of node.selectedGPUs">{{gpu.deviceID}}: {{gpu.rating}}</li>
              </ul>
            </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let node">
              <div class="btn-group-vertical">
                <button [attr.id]="'enable'+node.id" *ngIf="node.disabled" class="btn btn-outline-success btn-sm"
                        type="button"
                        (click)="enableNode(node.id)">
                  Enable
                </button>
                <button [attr.id]="'disable'+node.id" *ngIf="!node.disabled" class="btn btn-outline-info btn-sm"
                        type="button"
                        (click)="disableNode(node.id)">
                  Disable
                </button>
                <button [attr.id]="'replace'+node.id" class="btn btn-outline-dark btn-sm" type="button"
                        (click)="confirm(node, replaceConfirmation)">
                  Replace
                </button>
                <button [attr.id]="'delete'+node.id" class="btn btn-outline-danger btn-sm" type="button"
                        (click)="confirm(node, deleteConfirmation)">
                  Delete
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,25,50]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
<!--Delete Node Confirmation-->
<ng-template #deleteConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Delete Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete <strong>{{selectedNode.hostname}}</strong>?</p>
    <button type="button" class="btn btn-outline-secondary mr-auto float-left" (click)="c('Close click')">No
    </button>
    <button type="button" class="btn btn-outline-danger ml-auto float-right"
            (click)="c('Close click'); deleteNode(selectedNode.id)">Yes
    </button>
  </div>

</ng-template>

<!--Replace Node Confirmation-->
<ng-template #replaceConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Replace Node</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{selectedNode.hostname}}</strong> will be replaced with a new entry and rerun benchmarks. <strong>This
      cannot be undone.</strong></p>
    <p>Are you sure you want to replace <strong>{{selectedNode.hostname}}</strong>?</p>
    <button type="button" class="btn btn-outline-secondary mr-auto float-left" (click)="c('Close click')">No
    </button>
    <button type="button" class="btn btn-outline-danger ml-auto float-right"
            (click)="c('Close click'); replaceNode(selectedNode.id)">Yes
    </button>
  </div>

</ng-template>

