<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 py-1">
  <a href="/" class="navbar-brand pl-5"
     style="font-family: 'Fjalla One', sans-serif; font-size: 150%">
    <img [src]="logo" height="32" class="d-inline-block align-top" alt="logo">
    Sethlans</a>
  <button *ngIf="authenticated" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <!--Right Menu-->
    <ul class="text-white nav ml-auto pr-5" *ngIf="authenticated">
      <!--Notifications-->
      <li class="nav-item" id="notificationsDropDown" ngbDropdown>
        <a href="javascript:void(0);" class="text-white nav-link" ngbDropdownToggle>
          <i class="fa fa-bell"></i>
          <span *ngIf="notifications == true" class="badge badge-notify">!</span>
        </a>
        <div ngbDropdownMenu>
          <a *ngIf="notifications == false" href="javascript:void(0);" class="dropdown-item">
            <i class="fa fa-fw fa-info-circle"></i>&nbsp;&nbsp;No new notifications</a>
          <span *ngIf="notifications == true">
            <a href="javascript:void(0);" class="dropdown-item" *ngFor="let notification of notificationList"><i
              class="fa fa-fw fa-info-circle"></i>&nbsp;&nbsp;{{notification}}</a>
          </span>
        </div>
      </li>
      <!--Home Button -->
      <li class="nav-item">
        <a href="/" class="text-white nav-link">
          <i class="fa fa-home fa-lg"></i>
        </a>
      </li>

      <!--Projects Menu-->
      <li class="nav-item" *ngIf="currentMode == mode.SERVER || currentMode == mode.DUAL">
        <a href="/projects" class="text-white nav-link">
          <i class="fa fa-puzzle-piece"></i>
          <span>Projects</span>
        </a>
      </li>

      <!--Admin Menu-->
      <li class="nav-item" id="adminDropDown" ngbDropdown *ngIf="isAdministrator">
        <a class="text-white nav-link dropdown-toggle" href="javascript:void(0);" ngbDropdownToggle>
          <i class="fa fa-user-plus"></i>
          <span>Admin</span>
        </a>
        <div ngbDropdownMenu>
          <div *ngIf="currentMode == mode.NODE || currentMode == mode.DUAL">
            <h6 class="dropdown-header">Node Management</h6>
            <a href="/admin/servers" class="dropdown-item">
              <i class="fa fa-fw fa-server"></i>
              <span>Servers</span>
            </a>
            <a href="/admin/compute_settings" class="dropdown-item">
              <i class="fa fa-fw fa-microchip"></i>
              <span>Compute Settings</span>
            </a>
          </div>
          <div *ngIf="currentMode == mode.SERVER || currentMode == mode.DUAL">
            <div class="dropdown-divider" *ngIf="currentMode == mode.DUAL"></div>
            <h6 class="dropdown-header">Server Management</h6>
            <a href="/admin/nodes" class="dropdown-item">
              <i class="fa fa-fw fa-desktop"></i>
              <span>Nodes</span>
            </a>
            <a href="/admin/blender_version_admin" class="dropdown-item">
              <i class="fa fa-fw fa-archive"></i>
              <span>Blender Version Management</span>
            </a>
          </div>
          <div>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">System Management</h6>
            <a href="/admin/user_management" class="dropdown-item">
              <i class="fa fa-fw fa-user"></i>
              <span>User Management</span>
            </a>
            <a href="/admin/sethlans_settings" class="dropdown-item" *ngIf="isSuperAdministrator">
              <i class="fa fa-fw fa-cogs"></i>
              <span>Configuration</span>
            </a>
            <a href="/admin/logs" class="dropdown-item">
              <i class="fa fa-fw fa-book"></i>
              <span>Logs</span>
            </a>
            <a href="/admin/metrics" class="dropdown-item" *ngIf="isSuperAdministrator">
              <i class="fa fa-fw fa-tachometer"></i>
              <span>Metrics</span>
            </a>
            <a href="/restart" class="dropdown-item" *ngIf="isSuperAdministrator">
              <i class="fa fa-fw fa-refresh"></i>
              <span>Restart Sethlans</span>
            </a>
            <a href="/shutdown" class="dropdown-item" *ngIf="isSuperAdministrator">
              <i class="fa fa-fw fa-power-off"></i>
              <span>Shutdown Sethlans</span>
            </a>
          </div>
        </div>
      </li>
      <!--User Menu-->
      <li class="nav-item" id="userDropDown" ngbDropdown>
        <a class="text-white nav-link dropdown-toggle" href="javascript:void(0);" ngbDropdownToggle>
          <span class="fa fa-user"></span>&nbsp;{{username}}</a>
        <div ngbDropdownMenu>
          <a href="/user_settings" class="dropdown-item">
            <i class="fa fa-fw fa-wrench"></i>
            <span>User Settings</span></a>

          <a href="/logout" class="dropdown-item">
            <i class="fa fa-fw fa-sign-out"></i>
            <span>Logout</span></a>
        </div>
      </li>

      <!--Help Menu-->
      <li class="nav-item" ngbDropdown>
        <a href="javascript:void(0);" class="text-white nav-link" ngbDropdownToggle>
          <i class="fa fa-info-circle"></i>
          <span>Help</span>
        </a>
        <div ngbDropdownMenu>
          <a href="/help" class="dropdown-item">
            <i class="fa fa-fw fa-question-circle"></i>
            <span>Help</span></a>

          <button class="dropdown-item" (click)="open(about)">
            <i class="fa fa-fw fa-star"></i>
            <span>About</span></button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<ng-template #about let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; font-size: 200%">
      <img [src]="logoDark"
           height="48"
           class="d-inline-block align-top"
           alt="logo">
      &nbsp;Sethlans
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Sethlans Version {{sethlansVersion}}</p>
    <p>A local distributed render farm for Blender.</p>
    <p>Copyright 2018 Dryad and
      Naiad Software
      LLC.</p>

  </div>
  <div class="modal-footer">
    <a href="https://github.com/dryad-naiad-software/sethlans/blob/master/LICENSE" class="mr-auto">Licensing
      Information</a>
  </div>
</ng-template>

