<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->
<div class="row pb-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Add Sethlans User</h4>
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()" class="pb-4" #addUserForm="ngForm">
          <div class="alert alert-danger text-center" *ngIf="userExists">User {{existingUserName}} already exists</div>
          <div class="form-group"
               ngbTooltip="Minimum of 4 characters, alpha-numeric characters only."
               placement="left">
            <label for="username">Username</label>
            <input type="text"
                   name="username"
                   id="username"
                   #username="ngModel"
                   [(ngModel)]="user.username"
                   [ngClass]="{'is-invalid':username.errors && username.touched}"
                   class="form-control form-control-sm"
                   required pattern="^[a-zA-Z0-9]{4,}$">
            <div class="invalid-feedback" [hidden]="username.valid">
              <ul>
                <li>Username is required.</li>
                <li>Minimum of 4 characters, alpha-numeric characters only.</li>
              </ul>
            </div>

          </div>
          <div class="form-group"
               ngbTooltip="Password needs to be a minimum of 8 characters"
               placement="left">
            <label for="password">Password</label>
            <input type="password"
                   name="password"
                   #password="ngModel"
                   [(ngModel)]="user.password"
                   id="password"
                   [ngClass]="{'is-invalid':password.errors && password.touched}"
                   class="form-control form-control-sm"
                   required pattern="^.{8,35}$">

            <div class="invalid-feedback" [hidden]="password.valid">
              <ul>
                <li>Password is required.</li>
                <li>Password must be a minimum 8 characters.
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group" ngbTooltip="Re-enter password" placement="left">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password"
                   id="passwordConfirm"
                   #passwordConfirm="ngModel"
                   [(ngModel)]="user.passwordConfirm"
                   name="passwordConfirm"
                   class="form-control form-control-sm"
                   [ngClass]="{'is-invalid':passwordConfirm.errors && passwordConfirm.touched}"
                   required [fieldMatches]="password">
            <div class="invalid-feedback" [hidden]="passwordConfirm.valid">
              <ul>
                <li>Passwords must match.</li>
              </ul>
            </div>
          </div>
          <div class="form-group" ngbTooltip="Email used for notifications." placement="left">
            <label for="email">Email Address</label>
            <input type="text"
                   name="email"
                   id="email"
                   #email="ngModel"
                   [(ngModel)]="user.email"
                   class="form-control form-control-sm"
                   [ngClass]="{'is-invalid':email.errors && email.touched}"
                   required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" (keydown)="submitUser($event, addUserForm)">
            <div class="invalid-feedback" [hidden]="email.valid">
              <ul>
                <li>Email is required and must be valid.</li>
              </ul>
            </div>
          </div>
          <h6>Roles:</h6>

          <div *ngIf="isSuperAdministrator" class="form-group">
            <div *ngFor="let role of roles">
              <input
                type="checkbox"
                class="form-control-sm"
                #roleSelection
                required
                name="{{role}}"
                value="{{role}}"
                (change)="selected($event, role)"
              />
              <label class="form-check-label form-control-sm">{{role}}</label>
            </div>
          </div>

          <div *ngIf="isAdministrator" class="form-group">
            <div *ngFor="let role of limitedRoles">
              <input
                type="checkbox"
                class="form-control-sm"
                #roleSelection
                required
                name="{{role}}"
                value="{{role}}"
                (change)="selected($event, role)"
              />
              <label class="form-check-label form-control-sm">{{role}}</label>
            </div>
          </div>
          <input [disabled]="!addUserForm.valid || user.roles.length == 0" type="submit" value="Register User"
                 class="btn btn-outline-dark btn-block">
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div>-->
<!--Debugging:-->
<!--<pre>{{ user | json }}</pre>-->
<!--</div>-->
