<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<h4 class="text-center">Sethlans Setup Has Completed!</h4>
<br/>
<p class="text-center"> Sethans is restarting and will be accessible via the following
  link:
</p>
<p class="text-center"><a [href]="sethlansURL" id="sethlansUrl">{{sethlansURL}}</a></p>
<p class="text-center">This page will automatically redirect in 30 seconds &nbsp; &nbsp;<span
  class="fa fa-circle-o-notch fa-spin"></span></p>


