<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h4>
          <span style="font-family: 'Fjalla One', sans-serif; ">User Management</span>
          <button class="btn btn-outline-dark float-right" (click)="addUser()">
            <span class="fa fa-plus"></span> <span>New User</span>
          </button>
        </h4>
      </div>
      <div class="card-body">
        <mat-form-field>
          <input matInput id="table-search" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <mat-table #userTable [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.username}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.email}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let user">
              <span *ngIf="user.active" class="font-weight-bold text-success">ACTIVE</span>
              <span *ngIf="!user.active" class="font-weight-bold text-danger">INACTIVE</span>

            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.roles}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="created">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.dateCreated | date:'MM/dd/yy HH:mm'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastUpdated">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
            <mat-cell *matCellDef="let user">
              {{user.lastUpdated | date:'MM/dd/yy HH:mm'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
            <mat-cell *matCellDef="let user">
              <div class="btn-group-vertical">
                <button *ngIf="!user.active" class="btn btn-outline-success btn-sm" type="button"
                        (click)="activateUser(user.id)">Activate
                </button>
                <button [disabled]="dataSource.data.length == 1" *ngIf="user.active" class="btn btn-outline-info btn-sm"
                        type="button" (click)="deactivateUser(user.id)">Deactivate
                </button>
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="editUser(user.id)">Edit</button>
                <button [disabled]="dataSource.data.length == 1" style="width: 90px"
                        class="btn btn-outline-danger btn-sm" type="button" (click)="deleteUser(user.id)">Delete
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,25,50]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
