<form #userForm="ngForm" class="editForm">
  <h5>Administrator Setup</h5>
  <div class="form-group"
       ngbTooltip="Initial Administrator for Sethlans. Minimum of 4 characters, alpha-numeric characters only."
       placement="left">
    <label for="username">Username</label>
    <input type="text"
           name="username"
           id="username"
           #username="ngModel"
           [(ngModel)]="user.username"
           [ngClass]="{'is-invalid':username.errors && username.touched}"
           class="form-control form-control-sm"
           required pattern="^[a-zA-Z0-9]{4,}$">
    <div class="invalid-feedback" [hidden]="username.valid">
      <ul>
        <li>Username is required.</li>
        <li>Minimum of 4 characters, alpha-numeric characters only.</li>
      </ul>
    </div>

  </div>
  <div class="form-group"
       ngbTooltip="Password needs to be a minimum of 8 characters."
       placement="left">
    <label for="password">Password</label>
    <input type="password"
           name="password"
           #password="ngModel"
           [(ngModel)]="user.password"
           id="password"
           [ngClass]="{'is-invalid':password.errors && password.touched}"
           class="form-control form-control-sm"
           required pattern="^.{8,35}$">

    <div class="invalid-feedback" [hidden]="password.valid">
      <ul>
        <li>Password is required.</li>
        <li>Password must be a minimum 8 characters.
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group" ngbTooltip="Re-enter password" placement="left">
    <label for="passwordConfirm">Confirm Password</label>
    <input type="password"
           id="passwordConfirm"
           #passwordConfirm="ngModel"
           [(ngModel)]="user.passwordConfirm"
           name="passwordConfirm"
           class="form-control form-control-sm"
           [ngClass]="{'is-invalid':passwordConfirm.errors && passwordConfirm.touched}"
           required [fieldMatches]="password">
    <div class="invalid-feedback" [hidden]="passwordConfirm.valid">
      <ul>
        <li>Passwords must match.</li>
      </ul>
    </div>
  </div>
  <div class="form-group" ngbTooltip="Email used for notifications." placement="left">
    <label for="email">Email Address</label>
    <input type="text"
           name="email"
           id="email"
           #email="ngModel"
           [(ngModel)]="user.email"
           class="form-control form-control-sm"
           [ngClass]="{'is-invalid':email.errors && email.touched}"
           required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" (keydown)="userSubmit($event, userForm)">
    <div class="invalid-feedback" [hidden]="email.valid">
      <ul>
        <li>Email is required and must be valid.</li>
      </ul>
    </div>
  </div>
</form>
<nav>
  <button class="btn btn-outline-secondary" (click)="previousStep()">Previous
  </button>
  <button [disabled]="!userForm.valid" class="btn btn-outline-primary float-right" (click)="save()">Next</button>
</nav>
