<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row">
  <div class="col-4">
    <h5>Node Information</h5>
    <ul>
      <li *ngIf="computeType?.valueOf().toString() == 'CPU_GPU'.valueOf()">Current Compute Type: <i>CPU & GPU</i></li>
      <li *ngIf="computeType?.valueOf().toString() != 'CPU_GPU'.valueOf()">Current Compute Type: <i>{{computeType}}</i>
      </li>

      <li *ngIf="computeType?.valueOf().toString() != 'GPU'.valueOf()">Selected Cores: <i>{{selectedCores}}</i>
      </li>
      <li *ngIf="computeType?.valueOf().toString() != 'CPU'.valueOf()">Selected GPU(s):
        <ul>
          <li *ngFor="let gpu of selectedGPUModels"><i>{{gpu}}</i></li>
        </ul>
      </li>
      <li *ngIf="computeType?.valueOf().toString() != 'CPU'.valueOf() && selectedGPUModels.length > 1">Combined GPU
        Rendering: <i>{{gpuCombined}}</i>
      </li>
    </ul>
  </div>

  <div class="col-5">
    <h5>System Information</h5>
    <ul>
      <li>Processor: <i>{{cpuName}}</i></li>
      <li>Memory: <i>{{totalMemory}}</i></li>
      <li *ngIf="availableGPUs?.length > 0">Installed Graphics Card(s):
        <ul>
          <li *ngFor="let gpu of availableGPUs"><i>{{gpu.model}}</i></li>
        </ul>
      </li>
      <li>Disk Space:
        <ngb-progressbar
          type="info"
          [value]="usedSpace"
          [max]="totalSpace">
        </ngb-progressbar>
        <span class="float-left">
          <i class="fa fa-square" style="color: #17a2b8; font-size: 0.75rem"></i>&nbsp;Used - {{usedSpace}} GiB</span>
        <span class="float-right">
          <i class="fa fa-square" style="color: #e9ecef; font-size: 0.75rem;"></i>&nbsp;Free - {{freeSpace}} GiB</span>
      </li>

    </ul>

  </div>
  <div class="col-3">
    <h5>Render Information</h5>
    <ul>
      <li>Number of Render Slots:
        <i>{{totalSlots}}</i>
      </li>
    </ul>

  </div>
</div>
