<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row pb-5">
  <div class="col-md-10 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 style="font-family: 'Fjalla One', sans-serif; ">User Edit -
          {{userInfo?.username}}</h4>
      </div>
      <div class="card-body">
        <form #emailForm="ngForm">
          <div class="form-group" ngbTooltip="Email used for notifications." placement="left">
            <label for="email">Email Address</label>
            <input type="text"
                   name="email"
                   id="email"
                   #email="ngModel"
                   value="{{userInfo?.email}}"
                   [(ngModel)]="newEmail"
                   class="form-control form-control-sm"
                   [ngClass]="{'is-invalid':email.errors && email.touched}"
                   required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">

            <div class="invalid-feedback" [hidden]="email.valid">
              <ul>
                <li>Email is required and must be valid.</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-outline-dark" [disabled]="!emailForm.valid" (click)="changeEMail()">Change Email
          </button>
        </form>
        <div>
          <br/>
          <form #passwordForm="ngForm">
            <div class="form-group">
              <label for="currentPass">Current Password</label>
              <input
                type="password"
                id="currentPass"
                name="currentPass"
                #currentPass="ngModel"
                [(ngModel)]="passFields.currentPass"
                [ngClass]="{'is-invalid':currentPass.errors && currentPass.touched}"
                required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                class="form-control form-control-sm"/>
              <div class="invalid-feedback" [hidden]="currentPass.valid">
                <ul>
                  <li>Password is required.</li>
                  <li>Password must be a minimum 8 characters, at least one
                    UPPERCASE letter and one number.
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="newPass">New Password</label>
              <input
                type="password"
                id="newPass"
                name="newPass"
                #newPass="ngModel"
                [(ngModel)]="passFields.newPass"
                [ngClass]="{'is-invalid':newPass.errors && newPass.touched}"
                required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                class="form-control form-control-sm"/>
              <div class="invalid-feedback" [hidden]="newPass.valid">
                <ul>
                  <li>Password is required.</li>
                  <li>Password must be a minimum 8 characters, at least one
                    UPPERCASE letter and one number.
                  </li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassConfirm">Confirm New Password</label>
              <input
                type="password"
                name="newPassConfirm"
                #newPassConfirm="ngModel"
                id="newPassConfirm"
                [(ngModel)]="passFields.newPassConfirm"
                [ngClass]="{'is-invalid':newPassConfirm.errors && newPassConfirm.touched}"
                class="form-control form-control-sm"
                required [fieldMatches]="newPass"/>
              <div class="invalid-feedback" [hidden]="newPassConfirm.valid">
                <ul>
                  <li>Passwords must match.</li>
                </ul>
              </div>
            </div>
            <button class="btn btn-outline-dark" [disabled]="!passwordForm.valid" (click)="changePassword()">Change
              Password
            </button>
          </form>
          <br/>
          <form #roleForm="ngForm">
            <h6>Roles:</h6>
            <div class="form-group">
              <div *ngFor="let role of roleSelection">
                <input
                  type="checkbox"
                  class="form-control-sm"
                  required
                  #roleSelection
                  name="{{role.role}}"
                  value="{{role.role}}"
                  [checked]="role.active"
                  (change)="selected($event, role, roleForm)"
                />
                <label class="form-check-label form-control-sm">{{role.role}}</label>
              </div>
            </div>
            <button class="btn btn-outline-dark" [disabled]="roleError" (click)="changeRole()">Change Role(s)
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div>-->
<!--Debugging:-->
<!--<pre>{{ roleSelection | json }}</pre>-->
<!--</div>-->

