<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->
<div class="row pb-5">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Add Sethlans Nodes</h4>
      </div>
      <div class="card-body">
        <p class="text-center" *ngIf="nodeScanComplete == false">Scanning for Nodes on the network. &nbsp; &nbsp;<span
          class="fa fa-circle-o-notch fa-spin"></span></p>
        <div *ngIf="nodeScanComplete == true && scanSize > 0">
          <mat-table #scanTable [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="selection">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null; updateToSend()"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hostname">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Hostname</mat-header-cell>
              <mat-cell *matCellDef="let node">{{node.hostname}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ipAddress">
              <mat-header-cell *matHeaderCellDef mat-sort-header>IP Address</mat-header-cell>
              <mat-cell *matCellDef="let node">{{node.ipAddress}}
              </mat-cell>

            </ng-container>

            <ng-container matColumnDef="port">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Port</mat-header-cell>
              <mat-cell *matCellDef="let node">{{node.networkPort}}
              </mat-cell>

            </ng-container>

            <ng-container matColumnDef="os">
              <mat-header-cell *matHeaderCellDef mat-sort-header>OS</mat-header-cell>
              <mat-cell *matCellDef="let node">{{node.sethlansNodeOS}}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="computeMethods">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Compute Methods</mat-header-cell>
              <mat-cell *matCellDef="let node">
                <span *ngIf="node.computeType.toString().valueOf() == 'CPU_GPU'.valueOf()">CPU & GPU</span>
                <span *ngIf="node.computeType.toString().valueOf() != 'CPU_GPU'.valueOf()">{{node.computeType}}</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cpuName">
              <mat-header-cell *matHeaderCellDef mat-sort-header>CPU</mat-header-cell>
              <mat-cell *matCellDef="let node">
                <span *ngIf="node.computeType.toString().valueOf() != 'GPU'.valueOf()">{{node.cpuinfo.name}}</span>
                <span *ngIf="node.computeType.toString().valueOf() == 'GPU'.valueOf()">N/A</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="selectedCores">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected Core(s)</mat-header-cell>
              <mat-cell *matCellDef="let node">
                <span *ngIf="node.computeType.toString().valueOf() != 'GPU'.valueOf()">{{node.selectedCores}}</span>
                <span *ngIf="node.computeType.toString().valueOf() == 'GPU'.valueOf()">N/A</span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="selectedGPUs">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Selected GPU(s)</mat-header-cell>
              <mat-cell *matCellDef="let node">
              <span *ngIf="node.computeType.toString().valueOf() != 'CPU'.valueOf()">
                <ul class="list-unstyled">
                  <li *ngFor="let gpu of node.selectedGPUs"> {{gpu.model}}</li>
                </ul>
              </span>
                <span *ngIf="node.computeType.toString().valueOf() == 'CPU'.valueOf()">N/A</span>
              </mat-cell>

            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,25,50]"></mat-paginator>
          <button type="button" class="btn btn-outline-secondary mr-auto" (click)="returnToNodes()">Cancel</button>
          <button [disabled]="selection.hasValue() == 0" type="button" class="btn btn-outline-dark ml-auto float-right"
                  (click)="addSelectedNodes()"
          >Add Selected Nodes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


