<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row pb-5">
  <div class="col-md-6 m-auto">
    <div class="card">
      <div class="card-header">
        <h4 style="font-family: 'Fjalla One', sans-serif; ">New Project</h4>
      </div>
      <div class="card-body">
        <div *ngIf="projectLoaded == false">
          <p *ngIf="uploading" class="alert alert-info text-center">Uploading File &nbsp; &nbsp;<span
            class="fa fa-circle-o-notch fa-spin"></span></p>
           <span>Valid files are <strong>.blend</strong> files with packed textures, and <strong>ZIP</strong> files.
             <br/> Use relative paths for all the files in the archive.<br/></span>
          <ul>
            <li>Only <strong>Blender Render</strong> and <strong>Cycles</strong> is
              supported.
            </li>
            <li>Set the output file to an <strong>image</strong>, for example <strong>PNG</strong>.</li>
            <li>The path to external data is <strong>relative</strong>.</li>
          </ul>

          <p-fileUpload name="projectFile" (onBeforeSend)="beforeSend($event)" mode="basic"
                        (onUpload)="loadProjectDetails($event)"
                        url="/api/project_form/upload_project/"
                        accept=".blend,.zip"></p-fileUpload>

        </div>
        <div *ngIf="projectLoaded == true && status == 0">
          <form #projectDetailsForm1="ngForm" class="editForm">
            <div class="form-group">
              <label for="projectName">Project Name</label>
              <input class="form-control"
                     type="text"
                     name="projectName"
                     id="projectName"
                     #projectName="ngModel"
                     [ngClass]="{'is-invalid':projectName.errors && projectName.touched}"
                     [(ngModel)]="projectDetails.projectName"
                     required pattern=".{4,}">
              <div class="invalid-feedback" [hidden]="projectName.valid">
                <ul>
                  <li>Project Name is required.</li>
                  <li>Minimum of 4 characters, alpha-numeric characters only.</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label for="selectedBlenderVersion">Blender Version for Rendering</label>
              <select class="form-control" id="selectedBlenderVersion" name="selectedBlenderVersion"
                      [(ngModel)]="projectDetails.selectedBlenderversion">
                <option *ngFor="let version of availableBlenderVersions">{{version}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="projectDetails.projectType == projectTypes.ANIMATION">
              <label for="outputFormat">Output Format</label>
              <select class="form-control" id="outputFormat" name="outputFormat"
                      [(ngModel)]="projectDetails.outputFormat">
                <option *ngFor="let format of formats | keys" [selected]="formats.PNG.valueOf()">{{format.value}}
                </option>
              </select>
            </div>
            <div class="form-group"
                 *ngIf="projectDetails.projectType == projectTypes.ANIMATION && projectDetails.outputFormat == 'AVI' || projectDetails.outputFormat == 'MP4'">
              <label for="frameRate">Frame Rate</label>
              <select class="form-control" id="frameRate" name="frameRate"
                      [(ngModel)]="projectDetails.frameRate">
                <option *ngFor="let frameRate of frameRates">{{frameRate}}
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="projectDetails.projectType == projectTypes.STILL_IMAGE">
              <label for="outputFormat2">Output Format</label>
              <select class="form-control" id="outputFormat2" name="outputFormat"
                      [(ngModel)]="projectDetails.outputFormat">
                <option [selected]="formats.PNG.valueOf()">PNG</option>
              </select>
            </div>


            <fieldset class="form-group">
              <label>Project Type</label>
              <div class="form-check">
                <label class="form-check-label"><input type="radio" name="projectType" class="form-check-input"
                                                       [(ngModel)]="projectDetails.projectType"
                                                       value="{{projectTypes.STILL_IMAGE}}"
                                                       (click)="setDefaultFormat()">Still Image</label>
              </div>
              <div class="form-check">
                <label class="form-check-label"><input type="radio" name="projectType" class="form-check-input"
                                                       [(ngModel)]="projectDetails.projectType"
                                                       value="{{projectTypes.ANIMATION}}"
                                                       (click)="setDefaultFrameRate()">Animation</label>
              </div>
            </fieldset>
            <div class="form-group">
              <label for="startFrame">Start Frame</label>
              <input type="number" class="form-control" id="startFrame" name="startFrame"
                     [(ngModel)]="projectDetails.startFrame" pattern="^[1-9][0-9]*$">
              <label for="endFrame">End Frame</label>
              <input [disabled]="projectDetails.projectType == projectTypes.STILL_IMAGE" type="number"
                     class="form-control"
                     id="endFrame" name="endFrame" [(ngModel)]="projectDetails.endFrame">
              <label for="stepFrame">Frame Step</label>
              <input [disabled]="projectDetails.projectType == projectTypes.STILL_IMAGE" type="number"
                     class="form-control"
                     id="stepFrame" name="stepFrame" [(ngModel)]="projectDetails.stepFrame">
            </div>
          </form>
          <button class="btn btn-outline-secondary mr-auto" (click)="returnToProjects()">Cancel</button>
          <button [disabled]="!projectDetailsForm1.valid" (click)="projectConfigNext()"
                  class="btn btn-outline-dark ml-auto float-right">
            Render Settings
          </button>
        </div>
        <div *ngIf="projectLoaded == true && status == 1">
          <form #projectDetailsForm2="ngForm" class="editForm">
            <div *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'" class="form-group">
              <label for="renderOn">Render On</label>
              <select class="form-control" id="renderOn" name="renderOn" [(ngModel)]="projectDetails.renderOn">
                <option *ngFor="let computeMethod of computeMethods | keys">{{computeMethod.value}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="blenderEngine">Rendering Engine</label>
              <select class="form-control" id="blenderEngine" name="blenderEngine"
                      [(ngModel)]="projectDetails.blenderEngine">
                <option *ngFor="let engine of engines | keys">{{engine.value}}</option>
              </select>
            </div>
            <div *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'" class="form-group">
              <label for="samples">Samples</label>
              <input
                     type="number"
                     id="samples"
                     class="form-control"
                     #samples="ngModel"
                     name="samples"
                     [ngClass]="{'is-invalid':samples.errors && samples.touched}"
                     [(ngModel)]="projectDetails.samples" pattern="^[1-9][0-9]*$">
              <div class="invalid-feedback" [hidden]="samples.valid">
                <ul>
                  <li>Value of Samples must be greater than 0.</li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label>Render Resolution
                <div class="form-inline">
                  <input type="number" class="form-control form-inline" id="resolutionX" name="resolutionX"
                         [(ngModel)]="projectDetails.resolutionX">
                  &times;
                  <input type="number" class="form-control form-inline" id="resolutionY" name="resolutionY"
                         [(ngModel)]="projectDetails.resolutionY">
                </div>
              </label>
            </div>
            <div class="form-group">
              <label for="resPercentage">Render Image Scaling Percentage:</label> <strong>{{projectDetails.resPercentage}}&#37;</strong>
              <div class="form-inline">
                <mat-slider
                  id="resPercentage"
                  name="resPercentage"
                  min="1"
                  step="1"
                  thumb-label="true"
                  max="100"
                  [(ngModel)]="projectDetails.resPercentage"></mat-slider>
              </div>
            </div>
            <div class="form-group">
              <input type="checkbox" id="useParts" name="useParts" [(ngModel)]="projectDetails.useParts"
                     (change)="setParts()">
              <label for="useParts">Split frame into parts for rendering</label>
            </div>

            <div class="form-group">
              <label for="partsPerFrame">Number of Rendering Parts Per Frame:</label> <span
              *ngIf="projectDetails.useParts">{{projectDetails.partsPerFrame}}</span>
              <span *ngIf="!projectDetails.useParts" class="text-danger">Disabled</span>
              <div class="form-inline">
                <mat-slider [disabled]="!projectDetails.useParts"
                            id="partsPerFrame"
                            name="partsPerFrame"
                            min="2"
                            step="2"
                            thumb-label="true"
                            max="24"
                            [(ngModel)]="projectDetails.partsPerFrame"></mat-slider>
              </div>
            </div>
          </form>

          <button class="btn btn-outline-secondary mr-auto" (click)="projectConfigPrevious()">
            Back
          </button>
          <button [disabled]="!projectDetailsForm2.valid" class="btn btn-outline-dark ml-auto float-right"
                  (click)="projectConfigNext()">
            Project Summary
          </button>
        </div>
        <div *ngIf="projectLoaded == true && status == 2">
          <table class="table table-striped table-sm">
            <tbody>
            <tr>
              <td>Project Name</td>
              <td>{{projectDetails.projectName}}</td>
            </tr>
            <tr>
              <td>Selected Blender Version</td>
              <td>{{projectDetails.selectedBlenderversion}}</td>
            </tr>
            <tr>
              <td>Output Format</td>
              <td>{{projectDetails.outputFormat}}</td>
            </tr>
            <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'STILL_IMAGE'.valueOf()">
              <td>Project Type</td>
              <td>Still Image</td>
            </tr>
            <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf()">
              <td>Project Type</td>
              <td>Animation</td>
            </tr>
            <tr>
              <td>Start Frame</td>
              <td>{{projectDetails.startFrame}}</td>
            </tr>
            <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf()">
              <td>End Frame</td>
              <td>{{projectDetails.endFrame}}</td>
            </tr>
            <tr *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf()">
              <td>Frame Step</td>
              <td>{{projectDetails.stepFrame}}</td>
            </tr>
            <tr
              *ngIf="projectDetails.projectType.toString().valueOf() == 'ANIMATION'.valueOf() && projectDetails.outputFormat == 'MP4' || projectDetails.outputFormat == 'AVI'">
              <td>Frame Rate</td>
              <td>{{projectDetails.frameRate}}</td>
            </tr>
            <tr *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'">
              <td>Render On</td>
              <td>{{projectDetails.renderOn}}</td>
            </tr>
            <tr>
              <td>Rendering Engine</td>
              <td>{{projectDetails.blenderEngine}}</td>
            </tr>
            <tr *ngIf="projectDetails.blenderEngine.toString().valueOf() != 'BLENDER_RENDER'">
              <td>Samples</td>
              <td>{{projectDetails.samples}}</td>
            </tr>
            <tr>
              <td>Render Resolution</td>
              <td>{{projectDetails.resolutionX}} &times; {{projectDetails.resolutionY}}</td>
            </tr>
            <tr>
              <td>Image Scaling Percentage</td>
              <td>{{projectDetails.resPercentage}}&#37;</td>
            </tr>
            <tr *ngIf="projectDetails.useParts == true">
              <td>Parts Per Frame</td>
              <td>{{projectDetails.partsPerFrame}}</td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-outline-secondary mr-auto" (click)="projectConfigPrevious()">
            Back
          </button>
          <button class="btn btn-outline-dark ml-auto float-right"
                  (click)="submitProject()">
            Submit Project
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div>-->
<!--Debugging:-->
<!--<pre>{{ projectDetails | json }}</pre>-->
<!--</div>-->
