<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<div class="row pb-5">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <h4>
          <span style="font-family: 'Fjalla One', sans-serif; ">Blender Version Management</span>
          <button [disabled]="availableBlenderVersions.length == 0" class="btn btn-outline-dark float-right"
                  (click)="open(versionModal)">
            <span class="fa fa-plus"></span> <span>Add Version</span>
          </button>
        </h4>
      </div>
      <div class="card-body">
        <mat-table #binaryTable [dataSource]="dataSource">
          <ng-container matColumnDef="version">
            <mat-header-cell *matHeaderCellDef>Blender Version</mat-header-cell>
            <mat-cell *matCellDef="let binary">
              {{binary.version}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="binaries">
            <mat-header-cell *matHeaderCellDef>Installed Binaries</mat-header-cell>
            <mat-cell *matCellDef="let binary">
              {{binary.binaryOSList}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>Primary</mat-header-cell>
            <mat-cell *matCellDef="let binary">
              {{binary.active}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let binary">
              <div class="btn-group-vertical">
                <button *ngIf="!binary.active" class="btn btn-outline-success btn-sm" type="button"
                        (click)="setActive(binary.version)">Primary
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10,25,50]"></mat-paginator>


        <ng-template #versionModal let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" style="font-family: 'Fjalla One', sans-serif; ">Add New Blender Version</h4>
            <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #blenderVersions="ngForm" class="editForm">
              <div class="form-group" ngbTooltip="Blender version that Sethlans will use for rendering tasks."
                   placement="left">
                <label for="blenderVersion">Version</label>
                <select class="form-control form-control-sm"
                        id="blenderVersion"
                        name="blenderVersion"
                        [(ngModel)]="selectedVersion">
                  <option *ngFor="let version of availableBlenderVersions">{{version}}</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary mr-auto" (click)="c('Close click')">Cancel</button>
            <button
              class="btn btn-outline-dark ml-auto" (click)="c('Close click'); addVersion()">Add
            </button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<!--<div>-->
<!--Debugging:-->
<!--<pre>{{ selectedVersion | json }}</pre>-->
<!--</div>-->
