<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->

<form #nodeForm="ngForm" class="editForm">
  <div class="form-group" ngbTooltip="Render with either a CPU/GPU or ability to use either one." placement="left">
    <label for="computeMethod">Compute Method Selection</label>
    <select class="form-control form-control-sm"
            id="computeMethod"
            name="computeMethod"
            #computeMethod="ngModel"
            (change)="methodSelection()"
            [(ngModel)]="node.computeMethod">
      <option *ngFor="let method of availableComputeMethods">{{method}}</option>
    </select>

  </div>
  <div *ngIf="node.computeMethod.toString() !== 'GPU' ">
    <hr/>
    <h6>CPU Settings:</h6>
    <div class="form-group"
         ngbTooltip="Number of CPU cores to be used for rendering." placement="left">
      <label for="cores">Rendering Cores:</label>
      <mat-slider
        id="cores"
        min="1"
        step="1"
        thumb-label="true"
        [max]="totalCores"
        #cores="ngModel"
        name="cores"
        [(ngModel)]="node.cores"></mat-slider>
    </div>
    <div class="form-group"
         ngbTooltip="Tile size used for CPU rendering." placement="left">
      <label for="tileSizeCPU">CPU Tile Size</label>
      <input type="number"
             class="form-control form-control-sm"
             name="tileSizeCPU"
             id="tileSizeCPU"
             #tileSizeCPU="ngModel"
             [(ngModel)]="setupFormData.node.tileSizeCPU">
    </div>
  </div>
  <div *ngIf="node.computeMethod.toString() !== 'CPU'">
    <hr/>
    <h6>GPU Settings:</h6>
    <div class="form-group">
      <div *ngFor="let gpu of availableGPUs" ngbTooltip="GPU devices to be used for rendering." placement="left">
        <input type="checkbox"
               class="form-control-sm"
               name="{{gpu.model}}"
               value="{{gpu.model}}"
               #gpuSelection
               required
               (change)="selected($event, gpu.deviceID)"/>
        <label class="form-check-label form-control-sm">{{gpu.model}}</label>
      </div>
    </div>

    <div class="form-group"
         ngbTooltip="Tile size used for GPU rendering." placement="left">
      <label for="tileSizeGPU">GPU Tile Size</label>
      <input type="number"
             class="form-control form-control-sm"
             name="tileSizeGPU"
             id="tileSizeGPU"
             #tileSizeCPU="ngModel"
             [(ngModel)]="setupFormData.node.tileSizeGPU">
    </div>

    <label *ngIf="node.selectedGPUs?.length > 1">Options:</label>
    <div *ngIf="node.selectedGPUs?.length > 1"
         ngbTooltip="Enabled: Selected GPUs used as one render slot.  Disabled: Each GPU equals one render slot."
         placement="left">
      <input type="checkbox"
             class="form-control-sm"
             name="{{node.combined}}"
             value="{{node.combined}}"
             [(ngModel)]="node.combined"/>
      <label class="form-check-label form-control-sm">Combine GPUs</label>
      <br/><br/>
    </div>
  </div>
</form>
<nav *ngIf="setupFormData.mode === mode.NODE">
  <button class="btn btn-outline-secondary" (click)="previousStep()">Previous
  </button>
  <button [disabled]="node.gpuEmpty" class="btn btn-outline-primary float-right" (click)="save()">Next</button>
</nav>
