<!--
  ~ Copyright (c) 2018 Dryad and Naiad Software LLC.
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  ~
  -->
<div class="row pb-5">
  <div class="col-md-8 m-auto">
    <div class="card">
      <div class="card-header">
        <h4>
          <span style="font-family: 'Fjalla One', sans-serif; ">Sethlans Restart</span>
        </h4>
      </div>
      <div class="card-body">
        <h4 style="margin-top: auto" align="center">Sethans is restarting.</h4>
        <p class="text-center">This page will automatically redirect in 30 seconds &nbsp; &nbsp;<span
          class="fa fa-circle-o-notch fa-spin"></span></p>
      </div>
    </div>
  </div>
</div>

